/nbproject/private/
/nbproject/
/Algebra.temp.js
/.idea/
/node_modules/
/package-lock.json
/.vscode
/spec/test.js

# Temporary Files
**/report*

# TypeScript
*.tsbuildinfo
*.d.ts.map
*.js.map
dist/
build/
coverage/
.nyc_output/

